# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Environment variables (секреты и пароли)
.env

# IDE / Editors
.vscode/
.idea/
.cursor/

# OS junk
.DS_Store
Thumbs.db
# Security & SSL Secrets
nginx/*.key
nginx/*.crt
nginx/.htpasswd
# Prometheus / Alertmanager Local Configs
prometheus/alertmanager.yml
ansible/inventory.ini